.dialog-picture{
    max-height: 450px;
    max-width: 1000px;
}
.banner-image{
    width: 100%;
}
.exhibition-picture{
    width: 200px;
    padding: 1px;
    cursor: pointer;
}
.main-container{
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
.exhibition-button-container{
    text-align: center;
}
html{
    height: 100%;
    background-color: darkgrey;
}
body {
    min-height: 100%;
   background-color: darkgrey;
}
.gallery-thumb{
    max-width: 100%;
    max-height: 100%;
}