<div class="col-md-12" ng-show="!showPictures">
    <div class="col-md-6">
        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3>
                        Настояща изложба:
                    </h3>
                </div>
                <div class="col-md-12">
                    <h4><strong>Тема: </strong>{{currentExhibition.title}}</h4>
                </div>
                <div class="col-md-12">
                    <img class="exhibition-thumbs img-responsive" ng-src="{{currentExhibition.thumbnail}}">
                </div>
                <div class="col-md-12">
                    <p>
                        {{currentExhibition.info}}
                    </p>
                </div>
                <div class="col-md-12 exhibition-button-container">
                    <md-button class="md-raised md-primary" ng-click="seeExhibition(currentExhibition)"> Към изложбата
                    </md-button>
                </div>
            </div>


        </md-whiteframe>


    </div>
    <div class="col-md-6">
        <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3>
                        Предходна изложба:
                    </h3>
                </div>
                <div class="col-md-12">
                    <h4><strong>Тема: </strong>{{prevExhibition.title}}</h4>
                </div>
                <div class="col-md-12">
                    <img class="exhibition-thumbs img-responsive" ng-src="{{prevExhibition.thumbnail}}">
                </div>
                <div class="col-md-12">
                    <p>
                        {{prevExhibition.info}}
                    </p>
                </div>
                <div class="col-md-12 exhibition-button-container">
                    <md-button class="md-raised md-primary" ng-click="seeExhibition(prevExhibition)"> Към изложбата
                    </md-button>
                </div>
            </div>

        </md-whiteframe>

    </div>
</div>
<div class="col-md-12" ng-if="showPictures">
    <md-button class="md-raised md-warn" ng-click="clearSelectedExhibition()">Назад</md-button>
    <div masonry>
        <div class="masonry-brick picture-container" ng-repeat="picture in exhibitionPictures.pictures">
            <img class="exhibition-picture" ng-click="openInDialog(picture)" ng-src="{{ picture.src }}" alt="A masonry brick">
        </div>
    </div>
</div>